/*Check on shifting padding*/

/*Style section 1*/
.section1{
    text-align: center;
    background-image: url("../assets/backgrounds/landing.jpg");
    background-size: cover;
    padding-bottom: 200px;
    color: white;
}

/*Style boldSlogan in section 1*/
#boldSlogan{
    font-weight: 900;
}

/*Style #happyHour in section 2*/
#happyHour {
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;
    color: black;
}

/*Style #partyTime in section 2*/
#partyTime{
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #F15A29;
}

/*Style #breakfast in section 2*/
#breakfast{
    text-align: center;
    color: white;
    background-image: url("../assets/foodtop/breakfast.jpg");
    background-size: cover;
    padding-bottom: 200px;
}

/*Style #lunch in section 2*/
#lunch{
    text-align: center;
    color: white;
    background-image: url("../assets/foodtop/lunch.jpg");
    background-size: cover;
    padding-bottom: 200px;
}


/*Style #dinner in section 2*/
#dinner {
    text-align: center;
    color: white;
    background-image: url("../assets/foodtop/dinner.jpg");
    background-size: cover;
    padding-bottom: 200px;
}

/*Padding for section 3 */
.section3 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 70px;
}

/*Style #fastFoodsRow in section 3*/
#fastFoodsRow {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 70px;
}

/*Style #drinksRow in section 3*/
#drinksRow {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 70px;
}

/*Style #fastFoodPanel in section 3*/
#fastFoodPanel{
    text-align: left;
}

/*Style #drinksPanel in section 3*/
#drinksPanel{
    text-align: right;
}

/*Style #fastFoodsPhotos in section 3*/
#fastFoodsPhotos{
    border: 5px solid white;
    box-shadow: 0 0 30px #888888;
}

/*Style #fastFoodsPhoto1 in section 3*/
#fastFoodsPhoto1{
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 25px;
}

/*Style #fastFoodsPhoto2 in section 3*/
#fastFoodsPhoto2{
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 25px;
}

/*Style #fastFoodsPanelButton in section 3*/
#fastFoodsPanelButton, #drinksPanelButton {
    background-color: white;
    text-align: center;
    color:  #F15A29; 
    border: 2px solid  #F15A29;

}

/*Style #drinksPhotos in section 3*/
#drinksPhotos{
    border: 5px solid white;
    box-shadow: 0 0 30px #888888;
}

/*Style #drinksPhoto1 in section 3*/
#drinksPhoto1{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
}

/*Style #drinksPhoto2 in section 3*/
#drinksPhoto2{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
}

/*Padding for section 4 */
.section4 {
    background-image: url("../assets/backgrounds/foodsBg.jpg");
    background-size: cover;
    padding-bottom: 200px;
    /*text-align: center;*/
}

/*Style .container in section 4*/
.container{  
    padding: 10px;
    background-color: white;
    color: #F15A29;
}

/*Style .nav-tabs > li.active > a in section 4*/
.nav-tabs > li.active > a {
  color: #F15A29;
  font-size: 16px;
}

/*Style .nav-tabs > li > a in section 4*/
.nav-tabs > li > a {
  color: #F15A29;
}

/*Style #firstCarousel > .item > img, #firstCarousel > .item > a > img, #firstCarousel> .item > h3 in section 4*/
#firstCarousel > .item > img, #firstCarousel > .item > a > img, #firstCarousel> .item > h3 {
    /*width: 70%;*/
    margin: auto;
    text-align: center;
}

/*Style .carousel-control.left and .carousel-control.right a in section 4 and section 5 carousel*/
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
}

/*Style .icon-next, .icon-prev{ in section 4 and section 5 carousel*/
.icon-next, .icon-prev{ 
    color: #F15A29;
}

/*Padding for section 5*/
.section5 {
    padding-left: 50px;
    padding-right: 50px;
}

/*Style #testimonialAndAboutRow in section 5*/
#testimonialAndAboutRow {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0 0 30px #888888;
    text-align: center;
}

/*Style #testimonialAndAboutRow h2 in section 5*/
#testimonialAndAboutRow h2{
    color: #F15A29;
}

/*Style #testimonialColumn in section 5*/
#testimonialColumn{
    border-right: 1px solid black;
 }

/*Style testimonialCarousel in section 5*/
#testimonialCarousel {
    height: 150px;
    margin: auto;
 }

/*Style testimonialCarousel in section 5*/
 #testimonialCarousel > .item > img, #testimonialCarousel > .item > a > img, #testimonialCarousel> .item > h3, #testimonialCarousel> .item > p {
    margin: auto;
 }

/*Padding for section 6*/
.section6 {
    background-image: url("../assets/backgrounds/subscribe.jpg");
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 60px;
    padding-left: 400px;
    color: white;
}

/*Style #subscribeEmail in section 6*/
#subscribeEmail {
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    font-size: 15px;
    display: inline-block;
    color: white;
}

/*Style #subscribeButton in section 6*/
#subscribeButton {
    width: 235px;
    margin-left: 15px;
    background-color: #F15A29;
    display: inline-block;
}

/*Style for section 7*/
.section7{
    padding-top: 25px;
    padding-left: 650px;
    padding-right: 150px;
    background-color: #F15A29;
    color: white;
}

/*Style #menuFooterLogo in section 7*/
#menuFooterLogo{
    float: left;
    padding-right: 10px;
}

/*Style #twitterLogo in section 7 */
#twitterLogo{
    padding-right: 5px;
    padding-left: 5px;
}

/*Style #copyright in section 7*/
#copyright{
    padding-top: 25px;
    padding-bottom: 20px;
}

