/*Check on shifting padding*/

.section1{
    text-align: center;
    background-image: url("../assets/backgrounds/landing.jpg");
/*    background-position: center;
    background-repeat: no-repeat;*/
    background-size: cover;
    padding-bottom: 200px;
}

#happyHour {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: black;
}

#partyTime{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #f15a29;

}

#breakfast{
    text-align: center;
    color: white;
    background-image: url("../assets/foodtop/breakfast.jpg");
    background-size: cover;
    padding-bottom: 200px;
}

#lunch{
    text-align: center;
    color: white;
    background-image: url("../assets/foodtop/lunch.jpg");
    background-size: cover;
    padding-bottom: 200px;
}

#dinner{
    text-align: center;
    color: white;
    background-image: url("../assets/foodtop/dinner.jpg");
    background-size: cover;
    padding-bottom: 200px;
}

/*Padding for section 4 */
.section4 {
    padding-left: 50px;
    padding-right: 50px;
}

.hiddy{
    display: none;
}

/*Padding for section 5*/
.section5 {
    padding-left: 50px;
    padding-right: 50px;
}

/*Padding for section 6*/
.section6 {
    padding-left: 250px;
    padding-right: 50px;
}

/*Horizontally align email field and subscribe button*/
#subscribeEmail {
    width: 400px;
    font-size: 15px;
}

#subscribeButton {
    width: 235px;
    margin-left: 15px;
}

#subscribeEmail, #subscribeButton {
    display: inline-block;
}
